<ion-content>
  <div class="header">
    <div class="top-bar"></div>
    <div class="headin-time-wrapper">
      <h2 class="heading-text">Upload Proof</h2>
    </div>
  </div>
  <div class="container">
    <app-camera
      *ngFor="let fix of fixesList"
      class="camera"
      [title]="fix"
      (onImageCaptured)="onImageCaptured($event)"
    ></app-camera>
  </div>
  <div class="container">
    <ion-button
      class="large-btn btn-outline"
      [ngClass]="{'btn-blue': areAllCaptured}"
      (click)="onClickUploadAsync()"
      *ngIf="!isUploading"
      >UPLOAD
    </ion-button>
    <ion-button
      class="large-btn btn-outline"
      [ngClass]="{'btn-blue': areAllCaptured}"
      (click)="onClickUploadAsync()"
      *ngIf="isUploading"
      ><ion-spinner name="crescent" class="spinner"></ion-spinner>
    </ion-button>
  </div>
</ion-content>
