<div class="container">
  <div class="header">
    <div class="top-bar"></div>
    <h2 class="heading-text">Bookings</h2>
  </div>
  <table *ngIf="!isLoading">
    <tr class="table-heading">
      <th>#</th>
      <th>booking id</th>
      <th>booking date</th>
    </tr>

    <tr *ngFor="let booking of bookings">
      <td>1</td>
      <td>{{ booking.booking_id }}</td>
      <td>{{ booking.booking_date }}</td>
    </tr>
  </table>
  <div class="loader-container" *ngIf="isLoading">
    <ion-spinner name="crescent" class="loader"></ion-spinner>
  </div>
  <div class="bottom" *ngIf="!isLoading">
    <p>Page-1</p>
    <ion-icon name="caret-back-circle"></ion-icon>
    <ion-icon name="caret-forward-circle"></ion-icon>
  </div>
</div>
