<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <!-- <div class="filter-container" scrollX="true">
    <app-button
      *ngFor="let filter of filters"
      [title]="filter.title"
      [ngStyle]="{'margin': '0.4rem'}"
      [isActive]="activeFilter.title == filter.title"
      (click)="onClickFilter(filter)"
      [isDisabled]="disabledFilter == filter.title"
    ></app-button>
  </div> -->
  <app-filters></app-filters>
  <!-- <app-bookings-table
    [bookings]="currentBookingsContent"
    [isLoading]="currentBookingsContent.length == 0"
  ></app-bookings-table> -->
  <router-outlet></router-outlet>
</ion-content>
