<div>
  <div class="title-wrapper" [ngClass]="{ done: btnText == 'RETAKE' }">
    <!-- <ion-icon name="ellipse"></ion-icon> -->
    <!-- <h4>{{ title }}</h4> -->
  </div>
  <div class="wrapper">
    <div
      class="image-name"
      [ngClass]="{
        disabled: imageText == '*open camera to click photo',
        unabled: imageText != '*open camera to click photo'
      }"
    >
      <p>
        {{ imageText }}
      </p>
    </div>
    <ion-button (click)="onClickCameraAsync()">{{ btnText }}</ion-button>
  </div>
</div>
