<ion-content>
  <div class="container">
    <div class="head">
      <div class="bar"></div>
      <h1>Car Details</h1>
    </div>
    <div class="input-container">
      <app-drop-down-input
        label="Car Make"
        [options]="carMakeList"
      ></app-drop-down-input>
    </div>
    <div class="input-container">
      <app-drop-down-input
        label="Car Model"
        [options]="carModelsList"
      ></app-drop-down-input>
    </div>
    <div class="input-container">
      <app-drop-down-input
        label="Car Type"
        [options]="carTypesList"
      ></app-drop-down-input>
    </div>
    <div class="input-container">
      <ion-item>
        <ion-label position="floating">Mileage</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
    <div class="input-container">
      <ion-item>
        <ion-label position="floating">Run</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>

    <app-camera></app-camera>
    <br />
    <br />
    <ion-button
      class="large-btn"
      [ngClass]="{'btn-outline': !unableUpload, 'btn-blue':unableUpload}"
    >
      Upload</ion-button
    >
  </div>
</ion-content>
