<div class="mainContainer">
  <div class="bar"></div>
  <h3 class="cardHeading" (click)="showContent = !showContent">Tracking details
    <span class="iconContainer" *ngIf="!showContent">
      <ion-icon name="caret-down-circle"></ion-icon>
    </span>

    <span class="iconContainer2" *ngIf="showContent">
      <ion-icon name="caret-up-circle"></ion-icon>
    </span>
  </h3>

  <!-- trackings -->
  <div class="trackingContainer" *ngIf="showContent">
    <div class="taskContainer">
      <div class="progressContainer">
        <div class="circle active"></div>
        <div class="firstbar active"></div>
      </div>
      <div class="details">
        <div class="taskName activeText">
          Fix 1
        </div>
        <div class="action">
          <!-- <button class="btn">Done</button> -->
          <ion-icon class="icon" name="checkmark-done-circle-outline"></ion-icon>
        </div>
      </div>
    </div>


    <div class="taskContainer">
      <div class="progressContainer">
        <div class="circle inactive"></div>
        <div class="bar inactive"></div>
      </div>
      <div class="details">
        <div class="taskName inactiveText">
          Upload photo
        </div>
        <div class="action">
          <button class="btn" (click)="navigate()">Upload</button>
        </div>
      </div>
    </div>


    <div class="taskContainer">
      <div class="progressContainer">
        <div class="circle inactive"></div>
        <div class="lastbar inactive"></div>
      </div>
      <div class="details">
        <div class="taskName inactiveText">
          lorem ipsum
        </div>
        <div class="action">
          <!-- <button class="btn">Done</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
