<div class="mainContainer">
  <div class="bar"></div>
  <h3 class="cardHeading" (click)="showContent = !showContent">
    Tracking details
    <span class="iconContainer" *ngIf="!showContent">
      <ion-icon name="caret-down-circle"></ion-icon>
    </span>

    <span class="iconContainer2" *ngIf="showContent">
      <ion-icon name="caret-up-circle"></ion-icon>
    </span>
  </h3>

  <!-- trackings -->
  <div class="trackingContainer" *ngIf="showContent">
    <div class="taskContainer" *ngFor="let track of tracks; let count = index">
      <div class="progressContainer">
        <div
          class="circle"
          [ngClass]="{ active: track.isDone, inactive: !track.isDone }"
        ></div>
        <div
          [ngClass]="{
            active: track.isDone,
            inactive: !track.isDone,
            firstbar: count == 0,
            lastbar: count == track.length - 1,
            bar: count > 0 && count < track.length - 1
          }"
        ></div>
      </div>
      <div class="details">
        <div class="taskName" [ngClass]="{ activeText: track.isDone }">
          {{ track.title }}
        </div>
        <div class="action">
          <button
            class="btn"
            *ngIf="!track.isDone"
            (click)="onClickDone(track)"
          >
            Done
          </button>
          <ion-icon
            class="icon"
            name="checkmark-done-circle-outline"
            *ngIf="track.isDone"
          ></ion-icon>
        </div>
      </div>
    </div>
  </div>
</div>
